@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
html {
    font-size: 62.5%;
}

h1{
    font-size: 5rem;
    line-height: 6.4rem;
    color:#222
}
h2{
font-size: 4.6rem;
line-height: 5.4rem;
color:#222
}
h4 {
    font-size: 2rem;
    color: #222
}
h6 {
    font-weight: 700;
    font-size: 1.2rem;
}
p{
    font-size: 1.6rem;
    color: #465b52;
    margin: 1.5rem 0 2rem 0
}
.section-p1{
    padding: 4rem 8rem;
}
.section-m1{
    margin: 4rem 0;
}
body{
    width: 100%;
   
}

/* img{
    width: 100%;
    height: auto;
} */
.btn{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.5rem 3rem;
    color: #1a1a1a;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ;
}
.btn:hover{
    background-color: aqua;
}
.btn-white {
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    color: white;
    background-color: transparent;
    border: 1px solid #ffff;
    padding: 1rem 1.2rem;
    transition: 0.2s;
}
.btn-white:hover{
    background-color: rgb(163, 160, 160);
}
/* Header section */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    background:#E3E6F3;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.06);
    z-index: 9999;
    position: sticky;
    top:0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#navbar li{
    list-style: none;
    padding: 0 2rem;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover{
   color: #088178; 
}

#navbar li a:hover,
#navbar li a.active{
color: #088178;
}

/* Hero Section Styling */

#hero{
    background-image: url('./img/hero4.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 8rem;
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
padding-bottom: 1.5rem;
}

#hero h1{
color: #088178; 
}
#hero button{
    background-image: url('./img/button.png');
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 1.4rem 8rem 1.4rem 6.5rem;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
}

/* Feature section */
#feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#feature .fe-box{
width: 180px;
/* min-width: 250px; */
text-align: center;
padding: 2.5rem 1.5rem;
box-shadow: 2rem 2rem 3.5rem rgba(0, 0, 0, 0.03);
border: 1px solid #cce7d0;
margin: 0.5rem;
}
feature .fe-box img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
#feature .fe-box h6{
    display: inline-block;
    border-radius: 5px 10px;
    padding: 0.5rem 1rem;
    background-color: rgb(245, 162, 162);
    color: rgb(23, 63, 23);
    margin-top: 0.5rem;
}

/* Feature products Section */
#featureproducts{
    text-align: center;
}
#featureproducts .product-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    flex-wrap: wrap;
}
#featureproducts .product{
width: 23%;
min-width: 230px;
padding: 1rem 1.2rem;
border: 1px solid #cce7d0;
border-radius: 2px;
cursor: pointer;
position: relative;
margin: 1rem 0.5rem;
}
#featureproducts .product img{
    width: 100%;
    height: auto;
    border-radius: 2px;
}
#featureproducts .product .desc{
    text-align: start;
    padding: 1rem 0;
}
#featureproducts .product .desc span{
    color: #606063;
    font-size: 1.2rem;
}
#featureproducts .product .desc h5{
    padding-top: 0.7rem;
    color: #1a1a1a;
    font-size: 1.4rem;
}
#featureproducts .product .desc .star i{
    font-size: 1.2rem;
    color: rgb(243,181,25);

}
#featureproducts .product .desc h4{
    padding-top: 0.7rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #088178;
}
#featureproducts .product .cart{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 5rem;
    background-color: #e8f6ea;
    color: #088178;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}

/* Banner stylig */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./img/banner/b2.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: white;
    font-size: 1.4rem;
    
}
#banner h2{
    color: white;
    font-size: 3rem;
    padding: 1rem 0;    
}
#banner h2 span{
    color: #ef3636;
}
#smbanner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#smbanner .bannerbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('./img/banner/b17.jpg');
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 3rem;
}
#smbanner .bannerbox:nth-child(2){
    background-image: url('./img/banner/b10.jpg');
}
#smbanner h4{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
}
#smbanner h2{
    color: #fff;
    font-size: 2.8rem;
    font-weight: 800;
}
#smbanner span {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   padding: 0 8rem;
}
#banner3 .bannerbox{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
background-image: url('./img/banner/b7.jpg');
min-width: 30%;
height: 30vh;
background-size: cover;
background-position: center;
padding: 2rem;
margin-bottom: 2rem;
}
#banner3 .bannerbox h2{
    color: #fff;
    font-size: 2.2rem;
    font-weight: 900;
}
#banner3 .bannerbox h3 {
    color: rgb(194, 255, 197);
    font-size: 1.5rem;
    font-weight: 800;
}
#banner3 .box-2{
background-image: url('./img/banner/b4.jpg');
}
#banner3 .box-3{
background-image: url('./img/banner/b18.jpg');

}
#banner3 .box-2 h2{
    color: rgb(31 161 149);
}
#banner3 .box-2 h3{
    color: rgb(255, 255, 255);
}
#banner3 .box-2 h3{
    color: rgb(255, 255, 255);
}
#banner3 .box-3 h3{
    color: #000;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:#2a3c46;

}
#newsletter .newstext h4{
color: #f7f7f7;
}
#newsletter .newstext p{
color: #49d79a;
}
#newsletter .newstext p span{
    color: rgb(255, 0, 0);
}
#newsletter .emailsignup input{
    height: 3.125rem;
    font-size: 1.4rem;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem;
}
#newsletter .emailsignup{
    display: flex;
    width: 40%;
}
#newsletter button{
    color: #fff;
    background-color: #088178;
    white-space: nowrap;
    outline: none;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
footer .coloumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   margin-bottom: 2rem;
}
footer .logo{
    margin-bottom: 3rem;
}
footer h4{
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
footer p{
    font-size: 1.3rem;
   margin: 0 0 0.8rem 0;
}
footer a{
    text-decoration: none;
    font-size: 1.3rem;
   margin-bottom:1rem;
   color: #000;
}
footer .follow{
    margin-top: 2rem;
    
}
footer .follow i{
  color: #465b52;
  padding-right: 0.4rem;
 cursor: pointer;
 font-size: 1.8rem;

}
footer .install .row img{
border: 1px solid #088178;
border-radius: 6px;
}
footer .install img{
    margin: 1rem 0 1.5rem 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}


/* Media Query */
@media (max-width:799px) {
    .section-p1 {
        padding: 4rem 4rem;
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 8rem 0 0 1rem;
        transition: 0.3s;
    }
    #navbar.active{
    right: 0px;
    }
    #navbar li {
        margin-bottom: 2.5rem;
    }
    #mobile{
        display: flex;
    }
    #mobile i{
        color: #000;
        font-size: 2.4rem;
        padding-left: 2rem;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 2.4rem;
    }
    #lg-bag{
        display: none;
    }
    #hero {
       
        height: 90vh;
       
        padding: 0px 8rem;
        background-position: top 30% right 30%;
        
    }
    #featureproducts .product-container {
        justify-content: center;
    
    }
    #featureproducts .product {
       margin: 1.5rem;
    }
    #banner {
       height: 20vh;
        
    }
    #smbanner .bannerbox {
      
        min-width:100%;
        height: 30vh;
       
    }
    #banner3 {
        padding: 0 4rem;
    }
    #banner3 .bannerbox {
       width: 30%;
    }
    #newsletter .emailsignup  {
       
        width: 70%;
       
    }
}
@media (max-width:477px) {
    .section-p1 {
        padding: 2rem 2rem;
    }
    #header {
        padding: 1rem 3rem;
    }
    #hero {
      
        padding:  0 2rem;
        background-position: 57%;
    }
    h2 {
        font-size: 3.2rem;
    }
    h1 {
        font-size: 3.8rem;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin:0 0 0.5rem 0;
    }
    #featureproducts .product {
        width: 100%;
    
    }
    #banner h2 {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }
    .btn {
        font-size:1rem;
       padding: 1rem 1.5rem;
        
    }
    #banner3 .bannerbox {
        width: 100%;
    }
    #smbanner .bannerbox:nth-child(2) {
       margin-top: 2rem;
    }
    #newsletter .emailsignup {
        width: 100%;
    }
}